<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>main_allpro.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {317, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{317, 22}</string>
			<key>spriteSourceSize</key>
			<string>{317, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{660, 800}, {317, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_answerbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {765, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{765, 106}</string>
			<key>spriteSourceSize</key>
			<string>{765, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 185}, {765, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_answerbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 85}</string>
			<key>spriteSourceSize</key>
			<string>{86, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{534, 681}, {86, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_answerbtn_clicked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 85}</string>
			<key>spriteSourceSize</key>
			<string>{86, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{446, 681}, {86, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_backbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 106}</string>
			<key>spriteSourceSize</key>
			<string>{106, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{660, 824}, {106, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_backbtn_clicked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 106}</string>
			<key>spriteSourceSize</key>
			<string>{106, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{768, 824}, {106, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_border.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 62}</string>
			<key>spriteSourceSize</key>
			<string>{60, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{945, 341}, {60, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_chatbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 106}</string>
			<key>spriteSourceSize</key>
			<string>{106, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{876, 824}, {106, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_chatbtn_clicked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 106}</string>
			<key>spriteSourceSize</key>
			<string>{106, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{446, 293}, {106, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_coop_line.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {3, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{3, 74}</string>
			<key>spriteSourceSize</key>
			<string>{3, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 34}, {3, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_coop_propanel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 73}</string>
			<key>spriteSourceSize</key>
			<string>{152, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{855, 110}, {152, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_coop_userbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1004, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1004, 86}</string>
			<key>spriteSourceSize</key>
			<string>{1004, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {1004, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_corner.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{31, 30}</string>
			<key>spriteSourceSize</key>
			<string>{31, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{465, 139}, {31, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_exp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 22}</string>
			<key>spriteSourceSize</key>
			<string>{46, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{973, 185}, {46, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_expbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {584, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{584, 50}</string>
			<key>spriteSourceSize</key>
			<string>{584, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 856}, {584, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_exppro.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {349, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{355, 28}</string>
			<key>spriteSourceSize</key>
			<string>{355, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{498, 139}, {355, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_expprobg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {355, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{355, 28}</string>
			<key>spriteSourceSize</key>
			<string>{355, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{446, 770}, {355, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_gold.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 27}</string>
			<key>spriteSourceSize</key>
			<string>{26, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{945, 533}, {26, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_grid0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 91}</string>
			<key>spriteSourceSize</key>
			<string>{91, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{647, 293}, {91, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_grid1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 91}</string>
			<key>spriteSourceSize</key>
			<string>{91, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 293}, {91, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_grid2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 91}</string>
			<key>spriteSourceSize</key>
			<string>{91, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{622, 494}, {91, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_grid3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 91}</string>
			<key>spriteSourceSize</key>
			<string>{91, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{548, 401}, {91, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_img.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{108, 108}</string>
			<key>spriteSourceSize</key>
			<string>{108, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 237}, {108, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_line.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 5}</string>
			<key>spriteSourceSize</key>
			<string>{100, 5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{660, 88}, {100, 5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_nowpro.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {317, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{317, 22}</string>
			<key>spriteSourceSize</key>
			<string>{317, 22}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{660, 746}, {317, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_probg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {425, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{425, 29}</string>
			<key>spriteSourceSize</key>
			<string>{425, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 139}, {425, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_silver.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 37}</string>
			<key>spriteSourceSize</key>
			<string>{36, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{427, 139}, {36, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_silverbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {204, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{204, 50}</string>
			<key>spriteSourceSize</key>
			<string>{204, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 185}, {204, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_timebg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {853, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{853, 27}</string>
			<key>spriteSourceSize</key>
			<string>{853, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 110}, {853, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_timepoint.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{18, 32}</string>
			<key>spriteSourceSize</key>
			<string>{18, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 0}, {18, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_timepro.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {658, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{658, 19}</string>
			<key>spriteSourceSize</key>
			<string>{658, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 835}, {658, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_timeprobg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {654, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{658, 19}</string>
			<key>spriteSourceSize</key>
			<string>{658, 19}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 88}, {658, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_tipbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 102}</string>
			<key>spriteSourceSize</key>
			<string>{60, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{945, 237}, {60, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_toolbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 507}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 507}</string>
			<key>spriteSourceSize</key>
			<string>{66, 507}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{877, 237}, {66, 507}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_toolbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 92}</string>
			<key>spriteSourceSize</key>
			<string>{91, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{446, 587}, {91, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_toolbtn_clicked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 92}</string>
			<key>spriteSourceSize</key>
			<string>{91, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{446, 493}, {91, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_topbg.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 126}</string>
			<key>spriteSourceSize</key>
			<string>{55, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{945, 405}, {55, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_userbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {444, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{444, 87}</string>
			<key>spriteSourceSize</key>
			<string>{444, 87}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 746}, {444, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_vs.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 90}</string>
			<key>spriteSourceSize</key>
			<string>{100, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{446, 401}, {100, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>cwmain</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>cwmain</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>cwmain</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>